<div class="PageContainer">
    <main id="main" role="main">
        <section class="shopify-section">
            <div class="Container Container--narrow">
                {% assign content_for_page = pages['anteage®-provider-agreement'].content %}
                <div class="PageContent PageContent--narrow Rte">
                    {{ content_for_page }}
                </div>
            </div>
        </section>
    </main>
</div>