<div class="PageContainer">
    <main id="main" role="main">
        <section class="shopify-section">
            <div class="Container Container--narrow">
                <header class="PageHeader">
                    <div class="PageContent PageContent--narrow Rte">
                        <p>The terms of our Provider Agreement have changed. You are required to review and accept the updates to this agreement prior to proceeding.</p>
                    </div>
                    <div class="SectionHeader SectionHeader--center">
                        <h1 class="SectionHeader__Heading Heading u-h1">Provider Agreement</h1>
                        <h2 class="SectionHeader__Subheading SubHeading u-h3"><em>Last Updated: March 17, 2023</em></h2>
                    </div>
                </header>
                {% assign content_for_page = pages['anteage®-provider-agreement'].content %}
                <div class="PageContent PageContent--narrow Rte">
                    {{ content_for_page }}
                </div>
            </div>
        </section>
    </main>
</div>