<div class="info-dl-wrap">
    <a class="info-dl-inner" href="{{ product.metafields.product.infosheet }}" target="_blank">
        <img class="info-dl-icon" src="https://cdn.shopify.com/s/files/1/0006/7230/1119/files/noun_Download_3574300_medium.png?v=1604090964"/>
        <div class="info-dl-text">Download Product Info Sheet</div>
    </a>
</div>