{% if product.metafields.related.collateral %}
    {% if customer.email == 'joel@twopointoh.io' %}
    <div class="mt1">
        <h3 class="Heading u-h3 related-collateral--title">Sales Tools:</h3>
    </div>
    {% endif %}
{% endif %} 