<section class="section-main" style="background:#efefef">
    <div class="container-main centerContents">
        <div class="VideoWrapper">
            {{ product.metafields.product.academy_video }}
        </div>
    </div>
</section>