<div class="Container Container--narrow">
    <header class="PageHeader">
      <a href="/account/" class="PageHeader__Back Heading Text--subdued Link Link--primary u-h7">Back to account</a>
  
      <div class="SectionHeader">
        <h1 class="SectionHeader__Heading Heading u-h1">Practice Details</h1>
      </div>
    </header>
    <hr class="mt2 mb2">
    <div>
        
    </div>
</div>