<div class="Container Container--narrow locator-details">
    <header class="PageHeader mb0">
      <a href="/account/" class="PageHeader__Back Heading Text--subdued Link Link--primary u-h7">Back to account</a>
  
      <div class="SectionHeader mb0">
        <h1 class="SectionHeader__Heading Heading u-h1">Provider Locator Information</h1>
      </div>
    </header>
    <p class="mt1 mb2">{{ page.content }}</p>

    <hr class="mt1 mb1">

    <div class="details-panel">
        <h2 class="SectionHeader__Heading Heading u-h1">Practice Information</h2>
        <hr class="mt2 mb2">

        <form id="locator-practice">
          <div>
            <label class="headUp" for="company-name">Practice Name</label>
            <input name="company-name" id="company-name" type="text" class="Form__Input">
          </div>
          
          <div>
            <label class="headUp" for="type-of-provider">Practice Type</label>
            <select id="type-of-provider" name="type-of-provider" class="Form__Input">
              <option value="" selected disabled>Select one...</option>
              <option value="Acupuncturist">Acupuncturist</option>
              <option value="Chiropractor">Chiropractor</option>
              <option value="Dentist">Dentist</option>
              <option value="Dermatologist">Dermatologist</option>
              <option value="Esthetician">Esthetician</option>
              <option value="General Medical Practice">General Medical Practice</option>
              <option value="Massage Therapist">Massage Therapist</option>
              <option value="Med Spa">Med Spa</option>
              <option value="Plastic Surgeon">Plastic Surgeon</option>
              <option value="Other">Other</option>
            </select>
          </div>
          
          <div>
            <label class="headUp" for="logo">Practice Logo</label>
            <input type="file" name="logo" id="logo" accept="*/image">
          </div>
      
          <div>
            <label class="headUp" for="short-description">Short Description</label>
            <textarea name="short-description" id="short-description" max="320"></textarea>
          </div>
          
          <div>
            <label class="headUp" for="description">Full Description</label>
            <textarea name="description" id="description"></textarea>
          </div>
          
          <div>
            <label class="headUp" for="website">Website</label>
            <input name="website" id="website" type="text" class="Form__Input">
          </div>

          <div>
            <label class="headUp" for="online=sales-link">Link To Page Where AnteAGE® Can Be Purchased On Your Website</label>
            <input name="online=sales-link" id="online=sales-link" type="text" class="Form__Input">
          </div>
      
          <div>
            <label class="headUp" for="instagram">Instagram URL</label>
            <input name="instagram" id="instagram" type="text" class="Form__Input">
          </div>
          
              <div>
            <label class="headUp" for="facebook">Facebook URL</label>
            <input name="facebook" id="facebook" type="text" class="Form__Input">
          </div>
          
          <div>
            <label class="headUp" for="tiktok">TikTok URL</label>
            <input name="tiktok" id="tiktok" type="text" class="Form__Input">
          </div>
          
          <div>
            <label class="headUp" for="twitter">Twitter URL</label>
            <input name="twitter" id="twitter" type="text" class="Form__Input">
          </div>
          
          <div>
            <label class="headUp" for="realself">Realself URL</label>
            <input name="realself" id="realself" type="text" class="Form__Input">
          </div>
          
          <div>
            <label class="headUp" for="yelp">Yelp URL</label>
            <input name="yelp" id="yelp" type="text" class="Form__Input">
          </div>
          
          <input type="submit" value="Submit">
        </form>
    </div>
</div> 