<div class="Container Container--narrow locator-details">
    <header class="PageHeader mb0">
      <a href="/account/" class="PageHeader__Back Heading Text--subdued Link Link--primary u-h7">Back to account</a>
  
      <div class="SectionHeader mb0">
        <h1 class="SectionHeader__Heading Heading u-h1">Provider Locator Information</h1>
      </div>
    </header>
    <p class="mt1 mb2">{{ page.content }}</p>

    <hr class="mt1 mb1">

    <div class="details-panel">
        <h2 class="SectionHeader__Heading Heading u-h1">Practice Information</h2>
        <hr class="mt2 mb2">

        <form id="locator-practice" data-form-validate="true">
          <div class="form-group--line">
            <div class="form-item">
              <label class="headUp" for="company-name">Practice Name*</label>
              <input name="company-name" id="company-name" type="text" class="Form__Input" placeholder="Practice Name" required>
            </div>
            
            <div class="form-item">
              <label class="headUp" for="type-of-provider">Practice Type*</label>
              <select id="type-of-provider" name="type-of-provider" class="Form__Input" required>
                <option value="" selected disabled>Select one...</option>
                <option value="Acupuncturist">Acupuncturist</option>
                <option value="Chiropractor">Chiropractor</option>
                <option value="Dentist">Dentist</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Esthetician">Esthetician</option>
                <option value="General Medical Practice">General Medical Practice</option>
                <option value="Massage Therapist">Massage Therapist</option>
                <option value="Med Spa">Med Spa</option>
                <option value="Plastic Surgeon">Plastic Surgeon</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          
          <div class="form-item">
            <label class="headUp" for="logo">Practice Logo</label>
            <input type="file" name="logo" id="logo" accept="*/image">
          </div>
      
          <div class="form-item">
            <label class="headUp" for="short-description">Short Description*</label>
            <textarea class="Form__Input" name="short-description" id="short-description" max="320" placeholder="Enter short description here (max. 320 characters)..."required></textarea>
          </div>
          
          <div class="form-item">
            <label class="headUp" for="description">Full Description*</label>
            <textarea class="Form__Input" name="description" id="description" placeholder="Enter full description here..." required></textarea>
          </div>
          
          <div class="form-group--line">
            <div class="form-item">
              <label class="headUp" for="website" data-validation-type="url">Website*</label>
              <input name="website" id="website" type="text" class="Form__Input" placeholder="https://website.com" required>
            </div>

            <div class="form-item">
              <label class="headUp" for="online=sales-link" data-validation-type="url">Link To Online Store</label>
              <input name="online=sales-link" id="online=sales-link" type="text" class="Form__Input" placeholder="https://website.com/shop">
            </div>
          </div>
        
          <div class="form-group--line">
            <div class="form-item">
              <label class="headUp" for="instagram">Instagram URL</label>
              <input name="instagram" id="instagram" type="text" class="Form__Input" placeholder="https://instagram.com/yourprofile">
            </div>
            
                <div class="form-item">
              <label class="headUp" for="facebook">Facebook URL</label>
              <input name="facebook" id="facebook" type="text" class="Form__Input" placeholder="https://facebook.com/yourprofile">
            </div>
            
            <div class="form-item">
              <label class="headUp" for="tiktok">TikTok URL</label>
              <input name="tiktok" id="tiktok" type="text" class="Form__Input" placeholder="https://tiktok.com/@yourprofile">
            </div>
          </div>
          
          <div class="form-group--line">
            <div class="form-item">
              <label class="headUp" for="twitter">Twitter URL</label>
              <input name="twitter" id="twitter" type="text" class="Form__Input" placeholder="https://twitter.com/yourprofile">
            </div>
            
            <div class="form-item">
              <label class="headUp" for="realself">Realself URL</label>
              <input name="realself" id="realself" type="text" class="Form__Input" placeholder="https://realself.com/dr/yourprofile">
            </div>
            
            <div class="form-item">
              <label class="headUp" for="yelp">Yelp URL</label>
              <input name="yelp" id="yelp" type="text" class="Form__Input" placeholder="https://yelp.com/biz/yourprofile">
            </div>
          </div>
          
          <button type="submit" class="Button Button--primary" disabled>Save</button>
        </form>
    </div>
</div> 

<script>
  function getRequiredFields(formItem) {
    let requiredFields = [];
    let requiredInputs = formItem.querySelectorAll('input:required');
    requiredInputs.forEach(input => {
      requiredFields.push(input)
    })
    let requiredAreas = formItem.querySelectorAll('textarea:required');
    requiredAreas.forEach(textarea => {
      requiredFields.push(textarea)
    })
    let requiredSelects = formItem.querySelectorAll('select:required');
    requiredSelects.forEach(select => {
      requiredFields.push(select)
    })
    return requiredFields
  }

  function validateInputs() {
    let form = this.closest('form');
    let requiredFields = getRequiredFields(form);
    let submitButton = form.querySelector('button[type="submit"]');
    let validCount = 0;
    for (let i = 0; i < requiredFields.length; i++) {
      if (!requiredFields[i].value) {
        break
      } else {
        validCount += 1
      }
    }
    if (validCount === requiredFields.length) {
      submitButton.disabled = false
    } else {
      submitButton.disabled = true
    }
  }

  function initFormValidation() {
    let forms = document.querySelectorAll('form[data-form-validate="true"]');
    forms.forEach(form => {
      let requiredFields = getRequiredFields(form);
      requiredFields.forEach(field => {
        field.addEventListener('change', validateInputs)
      })
    })
  }

  document.addEventListener('DOMContentLoaded', initFormValidation)
</script>