<div class="Container">
    <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
        <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
      </div>
    </header>
  
    <div class="PageContent PageContent--narrow Rte">
      {% if customer.tags contains 'MD Wholesale' %}
          {{ page.content }}
      {% else %}
          The content on this page is restricted to AnteAGE MD® Providers only at this time.
      {% endif %}
    </div>

    {% if customer.tags contains 'MD Wholesale' %}
      <div class="PageContent PageContent--narrow Rte">
        {% include 'form_enrollment-practice' %}
      </div>

      <div class="PageContent PageContent--narrow Rte">
        <p class="page-content_large" style="text-align: center;">Have questions about the program? No problem, check out our <a href="https://anteage.com/pages/ageless-insider-faq">FAQ's</a>.</p>
      </div>
    {% endif %}
    
  </div>